.sign-up {
    display: flex;
    flex-direction: column;
    width: 40%;
   

 .title {
        margin: 10px 0;
    }

}
@media (max-width: 500px){
    .sign-up {
        width: 100%;
      
      
   
    }
  }