.sign-in {
    width: 40%;
    display: flex;
    flex-direction: column;
   
  
  .title {
    margin: 10px 0;
  }

  .buttons {
    display: flex;
    justify-content: space-around;
    margin-left: 30px;
   
  }
}


@media (max-width: 600px){
  .sign-in {
      width: 100%;
      margin-bottom: 5%;
   
    .buttons{
      margin-left: -60px;
    }
 
  }
}
