  
.header {
    // height: 40px;
     width: 100%;
    display: flex;
     justify-content: space-between;
    // margin-bottom: 25px;
    
    animation: 1s fadein 0.5s forwards;
    opacity: 0;
   position: absolute;
   align-items: center;
   padding: 35px 100px 0;
   color: #fff;
   z-index: 1;

  //  @media (max-width: 800px) {
   
  //     padding: 20px 50px;
  //     flex-direction: column;
    
  
  //   h2 {
  //     margin-bottom: 15px;
      
  //   }
  // }
  
}
    .logo-container {
      // height: 60%;
      // width: 8%;
      // padding: 8px;

      .logo{
        // margin-right: 15px;
        // padding: 0 13px;
        // font-size: 22px;
        // background-color: white;

        // font-family: Roboto;
      
        

        // display: flex;
        // align-items: center;
         width:70px;
      //   height: 50px;
      //   margin-left: -30px;
      //  padding-bottom: 30px;

      }
    }
   
  
    .options {
     
      // width: 50%;
      // height: 100%;
      display: flex;
      // align-items: center;
      // justify-content: flex-end;

      margin-right: -15px;
    }
      .option {
        margin: 0 15px;
        // padding: 10px 15px;
        cursor: pointer;
      }
    // }
  // }
  @keyframes fadein {
    100% {
      opacity: 1;
    }
  }

  @media (max-width: 600px) {
    .header {
      padding: 20px 50px;
      flex-direction: column;


    }
    .logo {
      margin-bottom: 15px;
    }
  }
  
 