.ContactData {
    margin: 20px auto;
    width: 100%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
    position: absolute;
    top: 650px;
    left: 150;
    /* right: 300px; */
    
}


@media (max-width: 600px) {
    .ContactData {
        width: 60%;
        right: 20px;
        left: -100px;
        
        
    }
}